<md-card>
    <md-card-header>
        <md-card-title>Landing Page</md-card-title>
        <md-card-subtitle>Boing</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        This is the landing page.

        <div class="thing-lighter">
            <i class="material-icons">event</i> Here's the thing. lighter-contrast
        </div>
        <div class="thing">
            <i class="material-icons">event</i> Here's the thing. default-contrast
        </div>
        <div class="thing-darker">
            <i class="material-icons">event</i> Here's the thing. darker-contrast
        </div>

    </md-card-content>
</md-card>


<md-card>
    <md-card-header>
        <md-card-title>Landing Page</md-card-title>
        <md-card-subtitle>Boing</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        This is the landing page.

        <div class="thing-lighter">
            <i class="material-icons">event</i> Here's the thing. lighter-contrast
        </div>
        <div class="thing">
            <i class="material-icons">event</i> Here's the thing. default-contrast
        </div>
        <div class="thing-darker">
            <i class="material-icons">event</i> Here's the thing. darker-contrast
        </div>

    </md-card-content>
</md-card>

<md-card>
    <md-card-header>
        <md-card-title>Landing Page</md-card-title>
        <md-card-subtitle>Boing</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        This is the landing page.

        <div class="thing-lighter">
            <i class="material-icons">event</i> Here's the thing. lighter-contrast
        </div>
        <div class="thing">
            <i class="material-icons">event</i> Here's the thing. default-contrast
        </div>
        <div class="thing-darker">
            <i class="material-icons">event</i> Here's the thing. darker-contrast
        </div>

    </md-card-content>
</md-card>

<md-card>
    <md-card-header>
        <md-card-title>Landing Page</md-card-title>
        <md-card-subtitle>Boing</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        This is the landing page.

        <div class="thing-lighter">
            <i class="material-icons">event</i> Here's the thing. lighter-contrast
        </div>
        <div class="thing">
            <i class="material-icons">event</i> Here's the thing. default-contrast
        </div>
        <div class="thing-darker">
            <i class="material-icons">event</i> Here's the thing. darker-contrast
        </div>

    </md-card-content>
</md-card>

<md-card>
    <md-card-header>
        <md-card-title>Landing Page</md-card-title>
        <md-card-subtitle>Boing</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        This is the landing page.

        <div class="thing-lighter">
            <i class="material-icons">event</i> Here's the thing. lighter-contrast
        </div>
        <div class="thing">
            <i class="material-icons">event</i> Here's the thing. default-contrast
        </div>
        <div class="thing-darker">
            <i class="material-icons">event</i> Here's the thing. darker-contrast
        </div>

    </md-card-content>
</md-card>

<md-card>
    <md-card-header>
        <md-card-title>Landing Page</md-card-title>
        <md-card-subtitle>Boing</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        This is the landing page.

        <div class="thing-lighter">
            <i class="material-icons">event</i> Here's the thing. lighter-contrast
        </div>
        <div class="thing">
            <i class="material-icons">event</i> Here's the thing. default-contrast
        </div>
        <div class="thing-darker">
            <i class="material-icons">event</i> Here's the thing. darker-contrast
        </div>

    </md-card-content>
</md-card>

<md-card>
    <md-card-header>
        <md-card-title>Landing Page</md-card-title>
        <md-card-subtitle>Boing</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        This is the landing page.

        <div class="thing-lighter">
            <i class="material-icons">event</i> Here's the thing. lighter-contrast
        </div>
        <div class="thing">
            <i class="material-icons">event</i> Here's the thing. default-contrast
        </div>
        <div class="thing-darker">
            <i class="material-icons">event</i> Here's the thing. darker-contrast
        </div>

    </md-card-content>
</md-card>

<md-card>
    <md-card-header>
        <md-card-title>Landing Page</md-card-title>
        <md-card-subtitle>Boing</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        This is the landing page.

        <div class="thing-lighter">
            <i class="material-icons">event</i> Here's the thing. lighter-contrast
        </div>
        <div class="thing">
            <i class="material-icons">event</i> Here's the thing. default-contrast
        </div>
        <div class="thing-darker">
            <i class="material-icons">event</i> Here's the thing. darker-contrast
        </div>

    </md-card-content>
</md-card>

<md-card>
    <md-card-header>
        <md-card-title>Landing Page</md-card-title>
        <md-card-subtitle>Boing</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        This is the landing page.

        <div class="thing-lighter">
            <i class="material-icons">event</i> Here's the thing. lighter-contrast
        </div>
        <div class="thing">
            <i class="material-icons">event</i> Here's the thing. default-contrast
        </div>
        <div class="thing-darker">
            <i class="material-icons">event</i> Here's the thing. darker-contrast
        </div>

    </md-card-content>
</md-card>

<md-card>
    <md-card-header>
        <md-card-title>Landing Page</md-card-title>
        <md-card-subtitle>Boing</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        This is the landing page.

        <div class="thing-lighter">
            <i class="material-icons">event</i> Here's the thing. lighter-contrast
        </div>
        <div class="thing">
            <i class="material-icons">event</i> Here's the thing. default-contrast
        </div>
        <div class="thing-darker">
            <i class="material-icons">event</i> Here's the thing. darker-contrast
        </div>

    </md-card-content>
</md-card>

<md-card>
    <md-card-header>
        <md-card-title>Landing Page</md-card-title>
        <md-card-subtitle>Boing</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        This is the landing page.

        <div class="thing-lighter">
            <i class="material-icons">event</i> Here's the thing. lighter-contrast
        </div>
        <div class="thing">
            <i class="material-icons">event</i> Here's the thing. default-contrast
        </div>
        <div class="thing-darker">
            <i class="material-icons">event</i> Here's the thing. darker-contrast
        </div>

    </md-card-content>
</md-card>

